<ion-view title="ABOUT">
  <ion-content>
    <div>
      <div class="item">
        <div style="text-align:center"> Inklusik </div>
        <div class="row">
          <p style="margin: 0 auto">Kolaborasi Musik Indonesia</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-text-wrap">
                <h3 style="text-align:left"><strong>About</strong></h3>
              <p style="text-align: justify;
      text-justify: inter-word; padding: 20px">
                Inklusik adalah aplikasi mobile untuk memainkan alat musik tradisional sunda secara kolaboratif dengan teman. Dengan menggunakan aplikasi ini, kita bisa berkolaborasi bermain musik dimana saja dan kapan saja tanpa batas waktu dan tempat. Selain itu, kita juga bisa mengajak teman kita untuk bermain bersama.
                
                <br><br>

                Aplikasi ini memberikan kemudahan akses untuk memainkan alat musik tradisional sehingga mempermudah orang-orang untuk belajar kesenian musik sunda. Turis dapat dengan mudah belajar alat musik tradisional sunda.

                <br><br>



                <h2></h2>
              </p>
              <!-- <hr>
              <p style="text-align: center;">More</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
