<ion-view title="Music">
  <ion-content>
    <div class="row" ng-repeat="instrument in instruments.slice(0,2)">
      <div class="col" ng-repeat="instrument in instruments.slice($index*2,$index*2+2)">
        <div class="col">
          <a style="text-decoration: none;" href="#/detail/{{instrument.name}}"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image" style="background: url('img/{{instrument.imagecover}}'); background-size: cover; background-position: center center; height: 200px">
              <div class="icon-music" style="background: url('img/{{instrument.image}}'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 140px; width: 140px; background-color: #fff; border-radius:50%; box-shadow: 0px 5px 10px rgba(0,0,0,.4); margin: 30px auto;">
              </div>
            </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>{{instrument.name.toUpperCase()}}</strong></h3>
              <p style="text-align:center">{{instrument.description.substr(0, 85)}}...</p>
            </div>
          </div></a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
