<ion-view title="Music Wiki">
  <ion-content>
    <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
      <div class="item item-image">
        <img src="img/header-angklung.png">
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <h3 style="text-align:center"><strong>Gangsa</strong></h3>
            <p style="text-align:center"> Alat Ketuk </p>
          </div>
          <div>
            <a href="#/play"> <button style="float:right; background:#F8ED31; width:100px; border:0px; color:#8A5D3B"  class="button button-energized">
              <strong>PLAY</strong>
            </button></a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-text-wrap">
              <h3 style="text-align:left"><strong>Description</strong></h3>
              <p style="text-align: justify;
    text-justify: inter-word;">The angklung is a musical instrument made of two bamboo tubes attached to a bamboo frame. The tubes are carved to have a resonant pitch when struck and are tuned to octaves. The base of the frame is held in one hand, whilst the other hand strikes the instrument.</p>
            <hr>
            <p style="text-align: center;">More</p>
            </div>

          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-text-wrap">
              <h3 style="text-align:left"><strong>Story</strong></h3>
              <p style="text-align: justify;
    text-justify: inter-word;">In the Hindu period and the time of the Kingdom of Sunda, the angklung played an important role in ceremonies. The angklung was played to honor Dewi Sri, the goddess of fertility, so she would bless their land and lives.</p>
            <hr>
            <p style="text-align: center;">More</p>
            </div>

          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-text-wrap">
              <h3 style="text-align:left"><strong>How to play</strong></h3>
              <p style="text-align: justify;
    text-justify: inter-word;">To play this instrument, you need to understand it first.</p>
            <hr>
            <p style="text-align: center;">More</p>
            </div>

          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
