<ion-view title="{{instrument.name.toUpperCase()}}">
  <ion-content>
    <div class = "detail-card-head">
      <div class="item item-image" style="background: url('img/{{instrument.imagecover}}'); background-size: cover; background-position: center center; ">
        <div class="icon-music" style="background: url('img/{{instrument.image}}'); background-size: contain; background-repeat: no-repeat; background-position: center center;  background-color: #fff; ">
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <h2><strong>{{instrument.name.toUpperCase()}}</strong></h2>
            <p> Alat Musik Sunda </p>
          </div>
          <div>
            <a href="#/play/{{instrument.name}}" ng-show-auth> <button class="button button-energized;">
              <strong>PLAY</strong>
            </button></a>
            <a href="#/guestplay/{{instrument.name}}" ng-hide-auth> <button class="button button-energized;">
              <strong>PLAY</strong>
            </button></a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="detail-card-item">
            <div class="item item-text-wrap">
              <h3><strong>Description</strong></h3>
              <div ng-bind-html='instrument.description'></div>
            <!-- <hr> -->
            <!-- <p style="text-align: center;">More</p> -->
            </div>

          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="detail-card-item">
            <div class="item item-text-wrap">
              <h3><strong>Story</strong></h3>
              <p ng-bind-html='instrument.story'></p>
            <!-- <hr>
            <p style="text-align: center;">More</p> -->
            </div>

          </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="detail-card-item">
            <div class="item item-text-wrap">
              <h3><strong>How to play</strong></h3>
              <p ng-bind-html='instrument.howtoplay'></p>
           <!--  <hr>
            <p style="text-align: center;">More</p> -->
            </div>

          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
