<ion-view title="HELP">
  <ion-content>
    <div>
      <div class="item">
        <div style="text-align:center"> Inklusik </div>
        <div class="row">
          <p style="margin: 0 auto">Bantuan Penggunaan</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-text-wrap">
                <h3 style="text-align:left"><strong>Bantuan</strong></h3>
              <p style="text-align: justify;
      text-justify: inter-word; padding: 20px">
                Aplikasi Inklusik dapat digunakan dengan mudah. Untuk memulai, silakan login atau memilih masuk sebagai guest. 

                <br><br>

                Setelah masuk, pengguna akan diberikan tampilan beberapa alat musik sunda berisi gambar dan penjelasan singkat mengenai alat musik tersebut. Pengguna bisa memilih salah satu alat musik tradisional Sunda yang ingin dimainkan. 

                <br><br>

                Setelah memilih alat musik, akan diberikan penjelasan lengkap mengenai alat musik yang dipilih.

                <h2></h2>
              </p>
              <!-- <hr>
              <p style="text-align: center;">More</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
