<ion-view title="Music Wiki">
  <ion-content>
    <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
      <div class="item item-image">
        <img src="img/header-angklung.png">
      </div>
      <div class="item">
        <div style="text-align:center"> Shake to Play </div>
        <div class="row">
          <div class="col">
            <a href="#/wikimore"> <button style="background:#F8ED31; border:0px; color:#8A5D3B; border-radius: 50%;"  class="button button-energized">
              <strong>DO</strong>
            </button></a>
          </div>
          <div class="col">
            <a href="#/wikimore"> <button style="background:#F8ED31; border:0px; color:#8A5D3B; border-radius: 50%;"  class="button button-energized">
              <strong>DO</strong>
            </button></a>
          </div>
          <div class="col">
            <a href="#/wikimore"> <button style="background:#F8ED31; border:0px; color:#8A5D3B; border-radius: 50%;"  class="button button-energized">
              <strong>DO</strong>
            </button></a>
          </div>
          <div class="col">
            <a href="#/wikimore"> <button style="background:#F8ED31; border:0px; color:#8A5D3B; border-radius: 50%;"  class="button button-energized">
              <strong>DO</strong>
            </button></a>
          </div>
          <div class="col">
            <a href="#/wikimore"> <button style="background:#F8ED31; border:0px; color:#8A5D3B; border-radius: 50%;"  class="button button-energized">
              <strong>DO</strong>
            </button></a>
          </div>
          <div class="col">
            <a href="#/wikimore"> <button style="background:#F8ED31; border:0px; color:#8A5D3B; border-radius: 50%;"  class="button button-energized">
              <strong>DO</strong>
            </button></a>
          </div>
        </div>
        
      </div>
    </div>
    <div class="row">
      <h5 style="margin:5px">Other player(s) in this room</h5>
    </div>
    <div class="row">
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
      <div class="col">
          <a style="text-decoration: none;" href="#/detail"><div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
            <div class="item item-image">
                <img src="img/circle.png">
              </div>
            <div class="item item-text-wrap">
              <h3 style="text-align:center"><strong>Gangsa</strong></h3>
              <p style="text-align:center"> Alat Ketuk </p>
            </div>
          </div></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="#/wikimore"> <button style="float:right; background:#57ba47; width:100px; color:#fff"  class="button button-light ">
          Invite
        </button></a>
      </div>
    </div>
  </ion-content>
</ion-view>
