<ion-view title="PLAY {{instrument.name.toUpperCase()}}">
  <ion-content>
    <div style="box-shadow: 0px 5px 10px rgba(0,0,0,.1);">
      <div class="item item-image" style="background: url('img/{{instrument.imagecover}}'); background-size: cover; background-position: center center; height: 200px">
        <div class="icon-music" style="background: url('img/{{instrument.image}}'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 140px; width: 140px; background-color: #fff; border-radius:50%; box-shadow: 0px 5px 10px rgba(0,0,0,.4); margin: 30px auto;">
        </div>
      </div>
      <div class="item">
        <div style="text-align:center"> Tap to Play </div>
        <div class="row">
          <div class="col" ng-repeat="melody in instrument.melody">
            <a href ng-click="sound(melody)"> <button ng-class="{'button': true, 'button-fab-yellow': true, 'selected': (selected == melody)}">
              <strong>{{melody.toUpperCase()}}</strong>
            </button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h5 style="margin:5px">Friends</h5>
    </div>
    <div class="item item-avatar" ng-repeat="user in onlineusers">
        <img ng-src="{{user.avatar}}">
        <h2>{{user.name}}</h2>
        <p>{{user.instrument.name}} </p>
        <div class="icon-music" style="background: url('img/{{user.instrument.image}}'); background-size: contain; background-repeat: no-repeat; background-position: center center; height: 40px; width: 40px; background-color: #fff; border-radius:50%; box-shadow: 0px 5px 10px rgba(0,0,0,.4); position: absolute; right: 15px; top: 15px">
        </div>
    </div>
  </ion-content>
</ion-view>
